/* MONSTERRAT FONTS */
/* family rules */
/* font-family: 'Montserrat', sans-serif; */

/* ITALICS */

/* 100 */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUOjIg1_i6t8kCHKm459WxZqh7k29M.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 200 */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 400 */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 500 */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 600 */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* NORMAL */

/* 100 */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRyS7m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 200 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 400 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 500 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 600 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* MONSTERRAT FONTS */
/* family rules */
/* font-family: 'Montserrat', sans-serif; */

/* overacrching rules */

html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(0.25turn,#73A24E, #A9C25D);
}

/* header */

/* header */

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(49, 49, 49, 0.11);
    margin-bottom: 7.5px;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
    margin: 7.5px 15px;
}

#logo_image{
    width: 175px;
    min-height: 75px;
    opacity: 0.95;
    transition: all 300ms linear;
    border-radius: 2px;
}

.nav_button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: white; 
    margin: 3.5px 7.5px;
    padding: 0 10px;
    padding-right: 17.5px;
    border-right: .6px solid white;
    position: relative;
}

#contact_button{
    border-right: 0;
}



@media only screen and (max-width: 685px){
    header{
        flex-direction: column;
    }
}

@media only screen and (max-width: 730px){
    .nav_button{
        font-size: 10px;
        margin-bottom: 20px;
    }
    .dropdown_menu{
        font-size: 10px;
    }
}

#logo_title{
    color: white;
    font-size: 24px;
    margin-left: 10px;
    line-height: 1.4;
}

/* DROP DOWN MENUS */

.dropdown_content{
    border-radius: 3.5px;
    height:max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 1000px;
    background-color: rgba(88, 90, 90, 0.541);
    padding: 12px 16px;
    font-size: 16px;
    transition: all 300ms;
    text-decoration: none;
    z-index: 2;
}

.dropdown_menu{
    margin: 7.5px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-decoration: none;
    border-bottom: .15px solid black;
    color: rgb(255, 255, 255);
    transition: all 300ms;
}

.nav_button:hover .dropdown_content{
    top: 17.5px;
}

.nav_button:hover .dropdown_menu:hover{
    opacity: 0.75;
}


/*Page Content */

/* Intro Banner */
#content_container{
    display: flex;
    flex-direction: column;
    color: white;
    height: 300px;
    padding: 7.5px 150px 7.5px 20px;
    border-radius: 1.5px;
}

#intro_bar_container{
    min-height: 300px;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgb(31, 31, 31);
}

#intro_bar_text{
    width: 300px;
    position: absolute;
    bottom: 15px;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.411);
}

#intro_title{
    font-size: 42px;
}



/*Page Paragraph*/

.page_title{
    font-size: 24px;
    color: rgb(3, 3, 150);
    padding:2.5px;
}

#page_content_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    left: 65px;
    top: 50px;
}

#content_box{
    display: flex;
    flex-direction: column;
}

.page_content{
    max-width: 750px;
    min-width: 400px;
    background-color: rgb(218, 218, 218);
    color: black;
    padding: 10px 10px 0 10px;
    border-radius: 1px;
    margin-bottom: 25px;
    border-radius: 1px;
}

#paragraph_header{
    font-size: 25px;
}

.page_paragraph{
    font-size:20px;
    line-height: 1.5;
}

.page_paragraph li{
    margin: 5px 0;
}

#image_and_quote_box{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: 100px;
}

.quote_box{
    color: black;
    font-size: 17.5px;
    margin-top: 10px;
    line-height: 1.25;
    padding: 5px;
    border-radius: 1px;
}

.page_image_box{
    margin: 7.5px 0;
    display: flex;
    flex-direction: row;
}

.page_image{
    max-height: 375px;
    max-width: 250px;
    object-fit: cover;
    margin: 0 2.5px;
}

#intro_bar_image_box_1{
    overflow: hidden;
}

#intro_bar_image_1{
    position: relative;
    bottom: 200px;
}



